:root {
  --cor-fundo: #FFF1E6;
  --cor-principal: #FFFCF8;
  --cor-secundaria: #D9F0E3;
  --cor-destaque: #2A9D8F;
  --cor-texto: #3D2C2E;
}

body {
  background: linear-gradient(135deg, var(--cor-fundo), var(--cor-secundaria));
  color: var(--cor-texto);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.caixa-principal {
  background-color: var(--cor-principal);
  width: 90%;
  text-align: center;
  padding: 20px;
}

h1 {
  color: var(--cor-destaque);
}

button {
  background-color: var(--cor-principal);
  color: var(--cor-destaque);
  border: none;
  border-radius: 15px;
  padding: 15px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--cor-destaque);
  color: var(--cor-secundaria);
}